[2018-03-30 19:51] lspgn opened #1 "Move all metrics into goflow.go"

[2018-03-30 19:52] lspgn opened #2 "Allow easier transport change"
Calls are a bit too interleaved.

[2018-04-25 14:10] jackpgao opened #4 "V1.0 garble and V2.0 doesn't send to Kafka."
- I use two version of goflow to decode sflow data, and found the flowing problem:

[code]

- the first one send data to kafka, but it's all garbled.

- the second can do decode, but doesn't send data to Kafka.

[2018-04-26 10:39] jackpgao commented on #4
@alexey-dushechkin

Thanks for your reply.

Your PR seems lacks something:

[code]

- Another question, why it use binary format? For performance? How can I read it?

[2018-05-07 04:57] lspgn commented on #4
Just tested with @alexey-dushechkin patch, the Kafka issue is fixed in version 2.0.2.

The binary version is mostly for size and performance.

[2018-05-09 18:36] lspgn opened #6 "sFlow: srcmac and dstmac inverted"

[2018-05-09 18:48] #6 closed

[2018-05-22 19:35] lspgn opened #7 "Add parsing for icmp code and type"

[2018-05-23 22:42] #7 closed

[2018-05-23 22:42] #2 closed

[2018-05-23 22:42] #1 closed

[2018-07-12 20:41] LandonStewart opened #8 "IP address fields in debug output are packed and therefor are packed when retrieved by the Kafka consumer"
I'm having a problem where the IP address values added to Elasticsearch via logstash are packed.  I spent quite a while trying to figure out why and then realized that even the debug output of goflow has them packed.  I think Logstash is doing exactly what it has been told to do and the issue might be with goflow...

Debug output from ./goflow-v2.0.4-linux-x86_64 -loglevel debug -kafka=false
[code

[2018-08-14 22:41] lspgn commented on #8
It is technically debug output and not meant to be pushed directly to logstash for analysis.
Right now, it is directly printing the protobuf. Since the IPs are bytes, it will be serialized as base64. I was hoping to improve this for clarity anyway.

[2018-08-15 00:53] lspgn opened #9 "Collect fragment information"

[2018-09-18 13:18] simPod opened #10 "Not receiving sflow even though UDP requests are incoming"
Running 2.0.4
[code]

When started no flows are being displayed

[code]

However when I run `tcpdump -i enp175s0f1 udp and port 9992` I can see that sflow data are coming from that device through UDP.

Am I doing something wrong?

[2018-09-18 15:53] lspgn commented on #10
Hi Simon,
Any chances I could look at the flows?

Does `netstat -tulpn | grep 9992` returns goflow?

[2018-09-18 18:33] simPod commented on #10
Tried with p (`UDP listen needs -p arg`)

[code]

[2018-09-18 18:54] simPod commented on #10
That was because the goflow was running. When I stop goflow, it outputs nothing 🤔

[2018-09-19 08:39] simPod commented on #10
Indeed it was. Thanks for help, much appreciated!

[2018-09-19 08:39] #10 closed

[2018-09-19 15:28] simPod opened #11 "Vlan id, no dst+src vlan"
I was comparing flows received by this library and by nfcapd. It seems to me that in [VlanId](https://github.com/cloudflare/goflow/blob/c4939ad960f8672bcb2d8a1b26d68841a11170e3/pb/flow.proto#L74) is the same content as would normally be in srcVlan field. Why is goflow designed to have VlanId only and not both src+dst vlan?

[2018-09-19 19:20] simPod commented on #8
@lspgn how would you decode it?

I serialized protobuf generated by goflow to json in php script:

```{"Type":"SFLOW","TimeRecvd":1537348610,"SamplingRate":16383,"SequenceNum":2702862506,"TimeFlow":1537348610,"SrcIP":"uWbaPA==","DstIP":"uWbbjw==","IPversion":"IPv4","Bytes":1522,"Packets":1,"RouterAddr":"uWba/g==","NextHop":"lQ6PeQ==","SrcNet":27,"SrcIf":1000013,"DstIf":1000001,"Proto":6,"SrcPort":

[2018-09-19 20:30] lspgn commented on #8
The protobuf serializer will encode bytes directly into Base64.
I will take a look at improving this.
[code]
When you convert it
`b9 66 da 3c => 185.102.218.60`

[2018-09-19 20:34] lspgn commented on #11
I started implementing this setting with sFlow, which only shows the current 802.1q VLAN.
I'm assuming you're using NetFlow/IPFIX. Do you have samples I could use? Or could you give me the field IDs you're seeing?

Thank you

[2018-09-19 21:04] simPod commented on #11
In nfdump, the fields are `%svln` and `%dvln` (caught by sfcapd, not nfcap). About the samples I'm sending you the email.

[2018-09-19 21:09] lspgn commented on #11
I was thinking of the field id in the protocol specification.
Thank you!

[2018-09-19 21:44] lspgn commented on #11
58 and 59 sounds indeed like default IPFIX https://www.iana.org/assignments/ipfix/ipfix.xhtml
Will implement it.

[2018-09-20 12:14] simPod opened #12 "Invalid value?"
Should here https://github.com/cloudflare/goflow/blob/master/pb/flow.proto#L15 be a value from `FlowType` enum, for example `0` rather than `1` which is not defined in that type?

If it is so I'll send PR

[2018-09-20 15:19] simPod commented on #8
Yup, got it. Thanks!

[2018-09-24 09:40] lspgn commented on #12
Actually, it's the protobuf definition: it's not a [default value](https://developers.google.com/protocol-buffers/docs/proto#optional) but an identifier of the field (default is 0 in this case).

When decoding the protobuf without the schema, you will get something like `field 1 = 9`, but with a schema `FlowType = 9`.

[2018-09-24 09:40] #12 closed

[2018-09-24 09:51] simPod commented on #12
Ah right, my bad. Thanks!

[2018-10-08 18:28] lspgn commented on #11
Added vlan fields in the protobuf (https://github.com/cloudflare/goflow/commit/dbb683ec187caaf19e420ce55c0a8d1984c62658).

Feel free to re-open if there is any issue.

[2018-10-08 18:28] #11 closed

[2018-10-08 21:30] #9 closed

[2018-10-08 21:31] lspgn commented on #8
Updated debug message. Now converting bytes into readable string.

[2018-10-08 21:31] #8 closed

[2018-10-21 22:24] lz006 opened #14 "NetFlow does not appear in debug mode"
Hi,
I'm trying out your goflow-solution, but I still don't get it to log NetFlow-Data.
When using sFlow it works just fine.
I did a tcpdump & wireshark to make sure that packets are arriving. And
it seems everything to be ok with the NetFlow-Agent from OpenvSwitch:

Frame 15: 162 bytes on wire (1296 bits), 162 bytes captured (1296 bits) on interface 0
Ethernet II, Src: PcsCompu_65:3b:b0 (08:00:27:

[2018-10-22 11:24] lspgn commented on #14
Hello @lz006, could you give me the version you're using and the command line you're passing? Do you have a pcap of the NetFlow data?

[2018-10-22 16:56] lz006 commented on #14
Am 22.10.2018 13:30, schrieb lspgn:

Hi,

I'm using NetFlow v5.

Start Cmd:

sudo docker run --net=host -ti cloudflare/goflow:latest -kafka=false
-loglevel debug

Attached you will find netflow.pcap.

thanks for help.

regards

Lucas

Links:
------
[1] https://github.com/lz006
[2]
https://github.com/cloudflare/goflow/issues/14#issuecomment-431807359
[3]
https://github.com/notifications/unsubscribe

[2018-10-22 17:16] lspgn commented on #14
Ah this is not compatible NetFlow v5. Any way you can do v9/ipfix?

[2018-10-22 20:17] lspgn commented on #14
It's possible some converters exists.
For now, I haven't planned on supporting NetFlow v5 but if there is enough interest I'll look into it.

Closing it for now.

Thank you :-)

[2018-10-22 20:17] #14 closed

[2018-10-22 21:02] lspgn commented on #14
@lz006 feel free to send me a sample of NetFlow v5 (it was not attached to the other message).

[2018-10-22 21:40] lz006 commented on #14
now there should be an attachment,
it seems that github drops that when answering via email...

[netflow.pcap.zip](https://github.com/cloudflare/goflow/files/2503498/netflow.pcap.zip)

[2018-12-14 09:02] nim-nim opened #18 "Flink code example?"
Hi,

Is the flink code used to process the result published somewhere? Probably not to use it as-is (our big data guys want to use spark not flink) but to get some ideas. The RIPE presentations are awfully nice (thank you so much for them) but actual code examples would be better.

[2019-01-01 23:49] lspgn commented on #18
Hi @nim-nim, apologies for the delay in my response.
Thank you for looking at the presentation!
We ended up discarding Flink part as [Clickhouse offers aggregations](https://clickhouse.yandex/docs/en/operations/table_engines/materializedview/) and the cluster was hard to maintain.
For everything that needs a more "live" aggregation: we turned to a Go program that inserts into Redis.
I still have t

[2019-01-01 23:49] #18 closed

[2019-02-06 16:36] 5tingray opened #19 "Question: Flow field support?"
Hi

Please do correct me if I'm wrong but it doesn't appear I can export NetFlow fields that aren't available across all the NetFlow protocols. For example, in my case I'm dealing with IPFIX biflows and require fields specific to IPFIX such as 'biflowDirection'. Is there a way to request theses fields in the protobuff definition or is this a feature i could request?

Thanks!

[2019-02-06 17:23] lspgn commented on #19
Hello, yes only some fields are converted into the protobuf.
Feel free to fork it in the meantime.
It is possible to add them. Ideally it's better if they are present in multiple versions.

Out of curiosity, what is the use case of this field? What equipments are sending it?

[2019-02-07 10:47] 5tingray commented on #19
Thanks for getting back to me so quickly :)
It's for a security project in which it's important to know who initiated the connection. I'll be receiving flows from traditional routers and switches but they'll be configured to export in biflow format (rfc5103).

[2019-02-07 13:49] lspgn commented on #19
I don't think I have a compatible devices for testing, do you have samples (pcap)?

[2019-02-11 10:45] 5tingray commented on #19
For testing I'm using nprobe to generate IPFIX flows. There is a free version of nprobe available.

`sudo nprobe -i eth0 -n 192.168.1.102:2055 -V 10 -T "%PROTOCOL %IN_SRC_MAC %OUT_DST_MAC %IP_PROTOCOL_VERSION %IPV4_SRC_ADDR %IPV4_SRC_MASK %IPV4_DST_ADDR %IPV4_DST_MASK %L4_SRC_PORT %L4_DST_PORT %TOTAL_PKTS_EXP %TOTAL_BYTES_EXP %SRC_TOS %DIRECTION %FLOW_START_MILLISECONDS %FLOW_END_MILLISECONDS %BIF

[2019-03-01 20:35] lspgn commented on #19
@5tingray sorry for the delay, did not have time to look into it, could you send the file again?

[2019-03-06 15:58] chrispassas commented on #14
I'm also interested in v5 support.

[2019-03-06 16:17] chrispassas opened #20 "Add support for NetFlow v5"
Adding support for NetFlow v5 format was discussed [here](https://github.com/cloudflare/goflow/issues/14) but I wanted to put this feature request in its own issue.

Many routers still export in v5. It would allow a much more streamlined process to not require converting from v5 prior to ingesting.

If its any help there is a Verizon library that implements v5. I'm sure its not something you can c

[2019-04-11 09:28] debugloop opened #22 "Missing Flow Duration or Flow End Time"
https://github.com/cloudflare/goflow/blob/21654cda9826302f2bb745fcc07bad8d746d0895/producer/producer_nf.go#L274-L279

The above case statement decodes the nfv9 `LAST_SWITCHED` field (`flowEndSysUpTime`, as IPFIX calls it) into `TimeFlow`. I am wondering why the `FIRST_SWITCHED` (`flowStartSysUpTime`) field is not being decoded. The switch statement in 281 right below does the `TimeFlow` for IPFIX,

[2019-04-11 16:50] lspgn commented on #22
I think this was to minimize the delay with the flow is accounted originally but we never used more than a single time (and sFlow does not have this information).

I'd rather add `TimeFlowStart` and `TimeFlowEnd` for compatibility reasons and eventually removing `TimeFlow`.

[2019-04-11 20:31] debugloop commented on #22
I probably won't use both times either, but I want to give customers the option of reproducing plain Netflow from their Kafka topics I aggregate for them by their IP prefixes, so they can continue to use their old tools. Thus, I am in need for some value to put into the first switched field.

Thanks for your input, I'll tackle this tomorrow then.

[2019-04-12 04:32] lspgn commented on #20
Started decoding packets under the directory netflowlegacy since it does not contain templates.
I have not touched the code in a while, I realize the whole program would benefit some refactoring (go fmt, packaging...), linting and tests.
Will release a first version retro-compatible first then redo big chunks of the libraries.

[2019-04-12 04:46] lspgn opened #23 "Refactor, repackage, lint"
For version 3.x.x:
* Go fmt/lint/go mod
* Split front-ends into three parsers (NetFlowV9/IPFIX, NetFlowV5, sFlow) in a `cmd` directory.
* Error handling (especially when decoding)
* Logging in decoder (passing log object to have more feedback)
* Tests for decoding
* Cleaning in protobuf (#22)
* More Kafka options (sharding/keying)

[2019-04-27 01:08] lspgn commented on #22
@debugloop Could you test the new v3? I integrated your changes.
https://github.com/cloudflare/goflow/releases/tag/v3.0.0.0

[2019-04-27 01:09] lspgn commented on #20
I just added NetFlow v5 in v3. There is a pre-release here if you can try: https://github.com/cloudflare/goflow/releases/tag/v3.0.0.0

[2019-04-27 01:09] lspgn commented on #19
I just made a pre-release https://github.com/cloudflare/goflow/releases/tag/v3.0.0.0 which integrate biflow direction

[2019-04-27 03:33] chrispassas commented on #20
Thank you, looking forward to trying this out.

[2019-04-29 12:30] debugloop commented on #22
@lspgn I can not easily test this right now, as you changed the [protobuf definition](https://github.com/cloudflare/goflow/commit/569608b4d1e6f50c26964e81a22ffb2d5b26a751#diff-bb6c14382854d7e506e0eaf706d25bf9) (link to diff) heavily, and the rest of my tooling uses it too. Specifically, I've taken the old format and added some fields in the back I use for enrichment (geolocations, AS Paths, Interf

[2019-04-29 14:35] debugloop commented on #22
Something else I've just noticed: I'd appreciate if you added the NFv9 Direction. The reason I'm writing this here instead of just doing it in another PR is that it might fit here https://github.com/cloudflare/goflow/commit/569608b4d1e6f50c26964e81a22ffb2d5b26a751#diff-9258e25e261124ae551eeb1b6b5d1d55R278 (as each message contains whether its IPFIX or v9, so one can discern)

I am not clear on the

[2019-04-29 20:10] lspgn commented on #22
Thank you for coming back to me!

You are raising good points.
I mostly wanted a cleanup (rename, order) as also our internal tools will also be colliding with new fields anyway.
The idea behind the skips of IDs was to group fields and allow new ones to be added below (eg: layer 4, hardware...).
I would not switch to IANA fields as it is IPFIX specific.

I will rebuild a protobuf with the fields i

[2019-04-30 08:38] debugloop commented on #22
I can see why some cleanup is desirable, and in the end it does not make to much of a difference whether it is some or most fields in the protobuf. I figure I'll have to drain all topics (enriched or not) and upgrade all tooling in the maximum retention period interval (only 30mins right now) to avoid any Consumers misinterpreting conflicting fields. However, I'll wait with adopting until I have y

[2019-04-30 13:58] 5tingray commented on #19
Thank you that's awesome! Sorry for not getting back to you before. I'll get testing this now and get back to you.

[2019-05-01 01:06] lspgn commented on #22
Update of the protobuf:
https://github.com/cloudflare/goflow/commit/40bba56a87b3a756246cdc997145f5473ddc3d75
Flow direction:
https://github.com/cloudflare/goflow/commit/22783e3c1432f4a97c1e12c85d36b0dbd2c6922e

[2019-05-01 19:37] lspgn commented on #22
Just merged into v2 / master. Closing this ticket.

[2019-05-01 19:37] #22 closed

[2019-05-30 05:29] MIKNOTAURO opened #27 "Losing flows from many network devices with 1 collector"
Hi Guys!
I want to send flows from many routers to goflow collector and then push those flows to kafka topic, my question is as follow... Do you have any recommendation to know/calculate the relation between network devices (routers) and colletors.
Now I have 3 routers target to 1 goflow collector and I have the impression that I'm losing packages. Do you have any advice/hint ?
Btw, I'm running go

[2019-06-02 13:51] simPod opened #28 "DstIf/SrcIf vs InIf/OutIf naming"
Hi, what is the reason for naming fields as DstIf and SrcIf? So far I have seen InIf and OutIf naming for the same thing. Thanks!

[2019-06-04 20:45] lspgn commented on #28
Mostly consistency with other fields (source IP, source port...). But no other reasons.
Is it causing conflicts?

[2019-06-04 20:57] lspgn commented on #27
Hi @MIKNOTAURO,
Which version are you using? How many flows per router? NetFlow or sFlow?
It really depends on the specs of the server.
Are the containers limited in RAM and CPU?

Decoding takes around 25uS to decode NetFlow/IPFIX packets and 75uS to decode sFlow.
At this rate, a GoFlow running on one core should be able to decode 10k-40k samples per second.
But this does not take into account the

[2019-06-05 10:53] simPod commented on #28
@lspgn Thanks for response! No conflicts. But it's usually called `input` and `output` so I wonder that it might be confusing. Also, src and dst fields represent something else in flow. Those are really info about packet's source and destination but inif and outif represent interfaces on the device where the flow is recorded. WDYT?

[2019-06-05 11:42] lorierp opened #29 "Ip address after deserialized unreadable"
I'm having a problem. After deserialized NetFlow v9 from Kafka I get unreadable string.
For example
SrcIP: "dA\004\334"
DstIP: "^d\256\305"

If i try get byteArray from SrcIP then i get array byte who content 4 number. For example [100, 65, 4, -36]

I using protoc v3.8.0 for generate java class from .proto

[2019-06-06 13:21] lspgn commented on #29
Hello,
IPs are stored as bytes arrays.
You have to convert them into an InetAddress before serializing them.

Thank you

[2019-06-11 18:32] #29 closed

[2019-06-11 18:32] #27 closed

[2019-06-15 21:49] aiesam opened #30 "Netflow errors"
I get the following error when trying to run

./goflow.go:66:2: undefined: initMetrics
./goflow.go:109:2: undefined: NetFlowTemplatesStats
./goflow.go:157:4: undefined: NetFlowErrors
./goflow.go:164:4: undefined: NetFlowErrors
./goflow.go:171:4: undefined: NetFlowErrors
./goflow.go:178:4: undefined: NetFlowErrors
./goflow.go:192:3: undefined: NetFlowStats
./goflow.go:202:5: undefined: NetFlowSetSt

[2019-06-15 21:50] lspgn commented on #30
You need go type `go run goflow.go metrics.go`.
This will be fixed in version 3 (change the branch).

[2019-06-15 22:39] aiesam commented on #30
Thanks. I tried it and it works. Will keep on experimenting. Thanks once again.

[2019-06-15 23:34] #30 closed

[2019-07-05 03:07] raghurampai opened #31 "Support for new IPFIX features support"
Raising this ticket to request support for features new to IPFIX as compared to Netflow V9-
1) Support for variable length information element-
====== snip from RFC 7011 ========
7.  Variable-Length Information Element

   The IPFIX Template mechanism is optimized for fixed-length
   Information Elements [RFC7012].  Where an Information Element has a
   variable length, the following mechanism MUS

[2019-07-11 07:32] lspgn commented on #31
@raghurampai it seems very generic: while the library can be improved to support it while this may not be used when producing the protobuf abstracted flows.
So far no plan of supporting them.

What's the use case? What are the fields produced? What are the devices producing it? Do you have a pcap?

[2019-07-18 15:03] mathiaske commented on #31
Hi just jumping in
We are using dedicated Netflow Probes like Flowmon and others. These are capable of extracting additional information such as DNS requests, HTTP information etc. This is very useful in open high performance environments where firewall, proxy etc. are no option.
This data is then transmitted in IPFIX like any other network traffic information.
Using the corresponding Enterprise I

[2019-07-19 06:17] lspgn commented on #31
@mathiaske Got it, thank you for the details. I believe this is beyond the scope of GoFlow which is meant to produce a unique flow format for _network samples_. The decoding library could definitely benefit from this though. Could you send some samples?
Actually, sFlow also supports things like DNS and HTTP, in which case, it may be interesting to have in GoFlow.

[2019-07-26 10:15] raghurampai commented on #31
@lspgn, sorry for the delay in response. I don't have the pcap currently. The use case at high level is similar to what @mathiaske mentioned. To describe further, the monitoring of BNG (broadband subscriber services) will have some enterprise specific information elements, which basically needs to be processed-
https://www.juniper.net/documentation/en_US/junos/topics/concept/ipfix-mediation-bng.ht

[2019-07-26 16:53] lspgn commented on #31
@raghurampai thank you for the details!
I will definitely look into it. Do you have a spec detailing the enterprise specifics fields?

[2019-07-26 17:05] mathiaske commented on #31
We currently use some Flowmon Probes -> CESNET, Flowmon (former Inveatec) fields
We also intend to have our own fields in the future for some use cases
-> it would be greate if this would be configurable (but please not in xml)
Example: https://github.com/CESNET/ipfixcol/blob/master/base/config/ipfix-elements.xml

[2019-07-26 18:21] raghurampai commented on #31
Below link has the enterprise specific fields-
https://www.juniper.net/documentation/en_US/junos/topics/reference/general/logging-dictionary-template-types-tdf.html

Yes, it would be great to have option of some sort of configurable file for goflow decoder to be able to understand the enterprise specific fields. The decoder could then decode these additional fields.

[2019-08-04 18:25] simPod opened #33 "Avro vs Protobuf"
Hi, I wonder whether there was a reason for Protobuf msg format and not Avro. In Kafka ecosystem Avro is AFAIK used more (supported by Schema registry etc.). Would Avro make eventually sense for goflow?

Thanks!

[2019-08-05 00:41] lspgn commented on #33
Hi @simPod,
No specific reason, since I wrote this software in Go, I started using Protobufs.
Sending to Kafka could also be replaced by sending to GRPC.
This can also have some advantages if you send to Google Cloud or [Clickhouse](https://clickhouse.yandex/docs/en/interfaces/formats/) (also supports Cap'n Proto).
I'm not against adding more encoding formats (there's JSON as well) and version 3 a

[2019-08-05 00:41] #23 closed

[2019-08-05 00:41] #19 closed

[2019-08-05 00:41] #20 closed

[2019-08-14 17:53] simPod commented on #33
Yea, schema-registry at least.
I'm using Clickhouse, it supports even Protobuf natively. But Kafka engine is broken there for now so I use my own inserters anyway, not a big deal 🤔 And it already supports tonz of formats so adding Avro might not be so difficult if necessary.

I was just thinking that Kafka is more Avro friendly. Generally Protobuf is cool, I just don't fancy how Google executes it

[2019-08-14 17:53] #33 closed

[2019-09-06 21:23] MIKNOTAURO opened #39 "Changed RouterAddr on UDP Load Balancer"
Hi guys,
I'm collecting data from one router with goflow and everything works well, now I'm trying to collect data from 500 Routers.
My first question is:
Due to the network throughput, should I put a udp load balancer in front of goflow or can goflow  handle this network traffic?...
And my second question:

<pre>
               +------------+
               |            |
               |

[2019-09-10 06:42] raghurampai opened #40 "Issue in NetFlow processor stop logic"
Noticed an issue in NetFlow decoder's stop logic which can result in-
fatal error: all goroutines are asleep - deadlock!

Below is the issue described in decoders/decoder.go code-
[code]

Go playground for quick check-
https://play.golang.org/p/LnDFz8vT_4G

Thanks!

[2019-09-26 07:38] debugloop commented on #39
Hi, I've some hints on my usage, no concrete answers, sorry :)

So far, goflow has been handling any amount of flows I've directed at it with a single instance, which is not saying much since thats been 1:32 sampled NFv9 of a regional research and education provider with a dozen ASR9k routers. Still, I am using https://github.com/sleinen/samplicator which is a kind of UDP multiplexer that supports

[2019-09-30 20:33] lspgn commented on #39
Responding a bit late:

You may put a load-balancer but since NetFlow (v9)/IPFIX are stateful and using the source IP in the UDP packet.
Ideally for that case, you want the samples from a same router arriving on the same collector. This leads to hashed load-balancing which may not always be perfectly equal.

What I'd suggest would be: benchmarking the decoding times GoFlow is taking using the metr

[2019-09-30 22:13] lspgn commented on #40
Thanks @raghurampai for the report.
Made a PR for the fix. Will test.

[2019-09-30 22:20] #40 closed

[2019-10-01 08:20] debugloop commented on #39
I actually have a service address configured on my goflow instance, but I've been reluctant to add a second instance. Will goflow keep flow records for which no template was received yet long enough? Or will some flows drop in the event of a change of routing from a router to another goflow instance?

Still, I'll spin up some more goflow instances at some point for redundancy, if not with equal co

[2019-10-01 22:47] lspgn commented on #39
Interesting use-case.
What do you mean by BGP only?

At the moment, it's just dropping the samples as it generates an error (template not found).
I would be possible with some extensive modifications (send the flow to be resampled later on, or processing to be triggered on a template received).

I thought about that in the past to avoid the 10 minutes of cold start.
There's an http endpoint for `/

[2019-10-02 18:14] MIKNOTAURO commented on #39
Hi guys, thanks for your time and answers.
My use case is as follow.
My problem is not decoding process, my problem is send those flows to kafka even that they are runing in a local network (collector and kafka cluster) I think this is a bottleneck, and also thinking in high availability would be better to have a LB in front of collectors (I think)
We need to aggregate client's data to each flow i

[2019-10-02 21:11] MIKNOTAURO commented on #39
Thanks for your time and answers guys.

For now is not exactly a problem. It works just fine (several routers send flows to one collector, decode and save to kafka cluster) but thinking in high availability, I believe we need to have a UDP Load Balancer infront of collectors or something like this for failover.

My problem starts here.
We put a UDP LB (nginx) infront of goflow instances (2 right n

[2019-10-02 21:13] MIKNOTAURO commented on #39
This is what we are trying to achieve

![Diagrama3](https://user-images.githubusercontent.com/2102746/66082335-84751500-e52f-11e9-971e-2cc4a56bbc26.jpeg)

[2019-10-03 00:39] lspgn commented on #39
That is unfortunately a problem with NetFlow/IPIFIX due to the agent address being the source IP of the packet.
In order to do load-balancing, IP-level will work (ECMP), or techniques that allow to keep the source IP.
Quickly searched and found an article on nginx: https://www.nginx.com/blog/ip-transparency-direct-server-return-nginx-plus-transparent-proxy/

SamplerAddress is the source address of

[2019-10-03 13:08] Krishjs opened #42 "Failed to start the container"
While running the command docker run --net=host -ti cloudflare/goflow:latest -kafka=false
INFO[0000] Starting GoFlow
INFO[0000] Listening on UDP :2056                        Type=NetFlowLegacy
INFO[0000] Listening on UDP :6343                        Type=sFlow
INFO[0000] Listening on UDP :2055                        Type=NetFlow
panic: runtime error: invalid memory address or nil pointer dereferen

[2019-10-03 19:10] lspgn commented on #42
@Krishjs: are you sending flows to it?

Could you tell me the version? It seems to work for me on `GoFlow v3.2.0 (2019-09-30T15:43:12-0700)`

[2019-10-04 07:59] debugloop commented on #39
We do not run OSPF in our DC, and as I understand it, having equal cost with BGP is kind of involved.

@MIKNOTAURO funny how originally, traffic accounting was also the primary use case for the project I'm working on. I think your options are:
1. UDP multiplexing: either using nginx with IP transparency (direct server return does not matter, Netflow is not a conversation) or samplicator with spoof

[2019-10-04 18:19] lspgn commented on #39
@debugloop that's a cool module! I will take a look. Thanks for sharing.
Internally, we also use the Kentik Patricia/prefix-trie library: https://github.com/kentik/patricia
for everything that's mapping IP ranges to ASN, countries, plans... But for routers, a simple hash map is good.
Worth to point, Clickhouse can do this through [dictionaries](https://clickhouse.yandex/docs/en/query_language/dict

[2019-10-07 07:30] debugloop commented on #39
Interesting, I've hadn't had kentik/patricia on my radar yet. Too bad it hasn't been around when I got started with my own trie, but I'll look into it now I guess. Main differences would be that I've not considered GC at all, and that I've not tried to make the trie skip sparse nodes.

We're actually using it to tag flows with customer IDs only, which is about the same trick as tagging ASN except

[2019-10-07 20:08] MIKNOTAURO commented on #39
@debugloop That would be really appreciated! and sorry if I'm asking silly questions, I'm new in this field, but actually, my pipe line works ( Routers + Goflow + Kafka + Faust/python + InfluxDB/elasticsearch).

I have another questions about these types of architectures, but since is not related to goflow, if you can help me, I think it would be better to use something like slack, what do you thi

[2019-10-09 16:00] AntoineThebaud commented on #28
Hello, I agree on this one, even more considering the name of the corresponding fields for NetFlow

[code]

[2019-10-17 15:29] jcdaniel14 opened #43 "Sending through Logstash shows corrupted data"
Hi, not sure if I'm not understanding how to properly use goflow.
I ran with -kafka=false flag and it shows flows correctly

`Type:NETFLOW_V9 TimeReceived:1571325708 SequenceNum:82208684 SamplingRate:0 SamplerAddress:10.101.11.211 TimeFlowStart:1571325692 TimeFlowEnd:1571325692 Bytes:72 Packets:1 SrcAddr:2607:f8b0:4008:80f::200a DstAddr:2800:bf0:2a7:1122:14bd:7ee3:e8a8:c58d Etype:34525 Proto:6 Src

[2019-10-18 20:34] jcdaniel14 commented on #43
For anyone falling into this, after reading 300 articles about Kafka and Go and taking a peek at the code I realized flows were being "encoded" by something called Protocol Buffers, which is something I didn't know about until yesterday but in simple terms is JSON on steroids, luckily there was a plugin in Logstash for "deserializing" protocol buffers and I tried it but it didn't quite work, Logst

[2019-10-18 22:50] lspgn commented on #43
Hi @jcdaniel14,
Yes, at the moment, it's only Protobuf. [In the future, other serialization format may be enabled](https://github.com/cloudflare/goflow/issues/33).

There was a derived technique to do this that another user showed me, would be to plug the logging output to logstash: https://github.com/cloudflare/goflow/issues/8

I usually advise to use Kafka as it provides automatic message distri

[2019-10-22 13:33] natemccallum opened #44 "Is the current flow.proto correct?"
Great project, thank you! I am trying to use the output format of protobuf with kafka and then into Clickhouse. I keep getting this message from CH leading me to think something may not be right with the flow.proto file.
`Code: 444. DB::Exception: Received from localhost:9000. DB::Exception: Protobuf messages are corrupted or don't match the provided schema. Please note that Protobuf stream is len

[2019-10-22 19:49] lspgn commented on #44
Hi @natemccallum,
I use an inserter for Clickhouse made in Go since I need to do lookups before inserting.
What's the Clickhouse Schema?

[2019-10-22 19:56] natemccallum commented on #44
Thank you for the reply @lspgn
Trying to use this. I went back and forth with String and Array(String) for the Addresses that are types and bytes in the flow.proto.

    Type Enum8('FLOWUNKNOWN' = 0, 'SFLOW_5' = 1, 'NETFLOW_V5' = 2, 'NETFLOW_V9' = 3, 'IPFIX' = 4),
    TimeReceived UInt64,
    SequenceNum UInt32,
    SamplingRate UInt64,
    FlowDirection UInt32,
    SamplerAddress Array(String),

[2019-10-23 19:42] lspgn commented on #44
Hm, [that goes beyond my knowledge](https://clickhouse.yandex/docs/en/interfaces/formats/#protobuf).
Is any message inserted at all? What if you remove the unsized-fields (ip addresses)?
You may get more luck with the Clickhouse forums :( sorry.

[2019-12-04 14:08] natemccallum commented on #44
Thanks. will try over there.

[2019-12-04 14:08] #44 closed

[2019-12-23 20:00] #43 closed

[2019-12-23 20:00] #42 closed

[2019-12-23 20:00] #39 closed

[2019-12-23 21:01] lspgn commented on #28
Coming back to this a bit late.
This makes sense, I will change the protobuf field names (or feel free to PR).
Though I was not very eager to change the data structure since some people may use this as a library (but as long as I keep the IDs the same it is fine).

[2019-12-24 14:44] simPod commented on #28
👍 I'll look into it. Releasing with proper version bump should then be IMO k.

[2020-01-30 21:42] lspgn opened #54 "Collect IP flags"

[2020-01-31 00:14] lspgn opened #57 "Add MPLS fields for IPFIX/NetFlow templates"

[2020-01-31 19:17] #28 closed

[2020-02-05 03:43] synfinatic opened #60 "Add support for ntopng (JSON over ZMQ)"
Not everyone wants to submit stats using pbufs over kafka- sometimes you just want to use something off the shelf like https://www.ntop.org/products/traffic-analysis/ntop/

[2020-02-05 20:37] lspgn commented on #60
Unfortunately, this is a too specific/branded change for this repo.
This is a good use case to use GoFlow as an external library though.

Gave more details on the attached PR: https://github.com/cloudflare/goflow/pull/61#issuecomment-582599784

[2020-02-05 20:37] #60 closed

[2020-03-02 03:37] #54 closed

[2020-03-05 03:19] shyam334 opened #64 "Latest release not published in dockerhub"
Hello,

The latest release (v3.4.0) doesn't seem to be published in [dockerhub](https://hub.docker.com/r/cloudflare/goflow/tags).
Could anyone look into this.

[2020-03-05 07:25] lspgn commented on #64
Woops, I didn't update it. Will do v3.4.1 including your PR.

[2020-03-05 07:30] lspgn commented on #64
Added: https://hub.docker.com/layers/cloudflare/goflow/v3.4.1/images/sha256-4cf98d7f58d2e6232b246954480a864a74ea6d6e311f42f047530b6cddfa9579?context=explore

[2020-03-05 07:30] #64 closed

[2020-03-17 09:47] bad3bs opened #65 "protobuf messages in the length-delimited format"
It's will be awesome to add option to enable protobuf messages in the length-delimited format. That for native support clickhouse protobuf input (https://clickhouse.tech/docs/en/interfaces/formats/#protobuf).

[2020-03-18 00:02] bad3bs opened #66 "huawei netstream"
It will be great to add support huawei netstream.

[hardware.txt](https://github.com/cloudflare/goflow/files/4346295/hardware.txt)
[huawei_netstream.pcap.txt](https://github.com/cloudflare/goflow/files/4346296/huawei_netstream.pcap.txt)

[2020-03-22 04:21] lspgn commented on #66
Hello,
As much as I'd like to extend GoFlow, it will be difficult for me to dedicate time to write a decoder unless there is a strong use-case and usage.
Do the devices support sFlow or IPFIX instead? Or are they NetStream only?
Are there features present in NetStream that cannot be found in sFlow?

Thank you

[2020-03-22 07:11] lspgn commented on #65
This is a good idea.
Attached a PR.
I'm not sure the protobuf can be mapped 1:1 within Clickhouse (example: storing src/dst IP addresses as bytes instead of two columns being a UInt32 and a FixedString(16)).
But I tested locally (fed from a Kafka), it works.

[2020-03-22 22:14] lspgn commented on #65
Added the functionality. I also updated [flow-pipeline](https://github.com/cloudflare/flow-pipeline) to provide a functioning example with [Clickhouse](https://github.com/cloudflare/flow-pipeline/blob/master/compose/clickhouse/create.sh).

[2020-03-22 22:14] #65 closed

[2020-03-23 00:54] bad3bs commented on #66
That devices support sFlow. But it would be awesome to support almost all formats.
Thanks for excellent software! :)

[2020-03-23 03:12] lspgn commented on #66
Thank you! :)
I'll take a look. I will prioritize if there are missing features solved by NetStream.

[2020-05-06 00:00] sjbarrio opened #74 "Empty data with IPFIX"
When I receive Data Template, goflow seems to decode messages, but if I print the record I get a empty array of bytes [].

[2020-05-06 12:36] sjbarrio commented on #74
I discovered that it happens when you have a Data Template with variable length fields, Goflow doesn't contemplate that case.

[2020-05-06 12:44] sjbarrio commented on #74
Close that and reopen a new issue.

[2020-05-06 12:44] #74 closed

[2020-05-06 12:46] sjbarrio opened #75 "Goflow doesn't considerate variable length fields."
When you have a Data Template with variable length fields Goflow fails to decode message, It doesn't contemplate that case: if length is #FF the length field is variable.

[2020-05-06 22:40] inpyo82 commented on #75
https://github.com/cloudflare/goflow/issues/31

[2020-05-07 19:06] sjbarrio commented on #75
ok, I close this issue. Thank u!

[2020-05-13 17:54] #75 closed

[2020-05-21 00:10] shyam334 opened #77 "Idea/Feature: Extensible decoder"
Netflow, IPFIX support templates, which supports device, device-class, vendor specific fields.
These extended fields contain useful information, but it doesn't necessarily make sense to add to goflow's default list of supported fields.

The feature request is to have an extensible decoder for NFv9 and IPFIX, such that users are able to customise the decoder to support additional fields without hav

[2020-05-25 15:14] gjelu opened #78 "add xtra flag to send json on Kafka transport"
The protobuffer has support for marshaling protobuffer messages as json: google.golang.org/protobuf/encoding/protojson

For some popular tools, like logstash (that are more text oriented), having json would be a better option as message format. (See https://github.com/logstash-plugins/logstash-codec-protobuf/issues/15). At least it will make it a lot easier to share data between (legacy) systems.

[2020-05-26 21:46] leoluk opened #79 "sFlow: support IPv4/IPv6 sampled header"
goflow supports only Ethernet(1) sampled headers. However, some devices do not send an Ethernet header and send sampled IPv4/IPv6 headers instead, which are currently ignored:

https://github.com/cloudflare/goflow/blob/f27eadb178457d36e1ff0f685a19562be16654c2/producer/producer_sf.go#L41

Similar to https://github.com/VerizonDigital/vflow/pull/50

[2020-06-19 03:47] jcdaniel14 opened #80 "Performance impact question"
Hi there folks, here's the picture, I'm receiving flows from different routers, for some reason I receive a "copy" of the flows sent to another collector (I'm just another exporter on IOS-XR) so I get data from ports that I don't really need and I can't change the network configuration.

In order to save disk space I decided to hardcode these ports into goflow (specifically SendKafkaFlowMessage fu

[2020-06-19 03:56] lspgn commented on #80
Hi @jcdaniel14
What metrics are you looking at that make you say your server is overloaded?
Most of the processing of GoFlow is done when decoding Filtering on the interface should be negligible.

[2020-06-22 16:29] jcdaniel14 commented on #80
Hi, I have a bare metal server, 128GB RAM 24 cores AMD Opteron 6174, CPU processing seems to be around 50% utilization with spikes up to 70%.
I also have in this server kafka and ELK Stack so it is difficult to tell if I'm putting pressure by adding these lines of code inside goflow methods.

[2020-06-22 19:17] lspgn commented on #80
Do you have per-process monitoring? Something like prometheus-node-exporter and process-node-exporter/cadvisor?
For just goflow, this should be able to handle thousands of flows per second.

If you want to dive on the effect of adding this function, I would suggest using [pprof](https://golang.org/pkg/net/http/pprof/).

[2020-06-23 19:48] mirsblog commented on #80
@lspgn FWIW, I ran some tests on a VM with 4vCPU 2.3GHz and 32GB RAM and compared it with nfacct. The maximum rate at which I could decode IPFIX and publish to kafka, without dropped packets, was at 15000 packets/second. Anything more than that caused a significant packet loss. nfacct in comparison could easily scale up to 60000 packets/second.

I ran the tests with -kafka=false and it seemed to n

[2020-06-23 20:03] lspgn commented on #80
@mirsblog interesting, thanks for the insights.
Does it use all the processors?

[2020-06-23 20:07] mirsblog commented on #80
I assume so given runtime.GOMAXPROCS(runtime.NumCPU()) is set in goflow.go. Would that be a correct assumption?

[2020-06-23 20:12] lspgn commented on #80
Yes it should use all processors, was just curious if the load distribution would be the same when looking at htop. Did you compile GoFlow or did you get a specific binary?

[2020-06-23 20:17] mirsblog commented on #80
GoFlow: v3.4.2
GoLang: 1.14
Built Alpine image using Dockerfile found in the v3.4.2. Ran using the instructions from README. I can run the test again and check on htop.

[2020-06-23 20:29] lspgn commented on #80
The first thing I can think of affecting NetFlow decoding performance would be the shared template cache.
Protobuf encoding (+memory allocations) may also be the reason. Would need to compile a specific version which bypasses this. Also would need to pprof.

[2020-06-23 20:38] mirsblog commented on #80
Ok. I will consider that and start another thread when I have more to share.

[2020-07-06 18:49] jcdaniel14 commented on #80
Don't really have per-process monitoring but will dive into it, the server is processing 25k flows/sec atm according to logstash and hasn't been affected noticeable by the changes I made. I was just worried that it handles the processing of flows/kafka/elasticsearch/logstash at the same time and I could put some stress by adapting the code the way I did, thanks for clarifying and giving some good

[2020-07-06 18:49] #80 closed

[2020-07-10 20:11] qingkunl opened #81 "Support UDP relay or reflector feature"
I'd like to have goflow parse the received packets and at the same time relay/reflect the packets to other agents. So I'm proposing to add `relay.addr` and `relay.port` options, which if not specified would not change the current behavior.

[2020-07-14 13:44] davmatjo opened #82 "Data race in utils/netflow.go"
When running goflow with the workers flag set to greater than 1, the application will sometimes crash due to a concurrent map read and write.

Running goflow with `go build -race` also highlights many data races in the same places.

I believe the issue is in utils/netflow.go `DecodeFlow()` where templates and sampling can be written to when only a RLock has been acquired from the RWMutex.

[2020-07-14 16:25] lspgn commented on #82
I'll have a look! Thank you for the report

[2020-07-14 16:38] #82 closed

[2020-07-15 13:52] mschaefers opened #84 "Kafka Timestamp not set"
Not sure wether this is a feature request or a bug.

Netflow packets that were written into a Kafka Topic don't have a Kafka Timestamp assigned. I expect that the current system timestamp is used.

If the timestamp is missing on purpopse, is there a way to get the current timestamp being used instead?

[2020-07-15 14:50] mschaefers commented on #84
Closing this, as everything is working as expected with v3.4.2 (I just upgraded from v3.2.0)

[2020-07-15 14:50] #84 closed

[2020-07-21 07:27] swb-ops opened #85 "Memory leak"
Hello!
I tried to use goflow to collect sflow statistics and write it to logstash (ELK stack) through kafka broker.

The pipeline is
goflow -> kafka -> logstash-input-kafka (protobuf codec) -> elastic

I get accurate statistics, but see a fast memory leak of goflow collector. My VM have 32 GB of RAM, which is enough for about 2 hours. The memory is freed after goflow service restart.

Does anyone

[2020-07-21 15:42] lspgn commented on #85
Hi @swb-ops could you indicate the version you are using?
Is there slowness on the Kafka side?
Does the memory leak happens when `-kafka=false`?

[2020-07-21 18:00] swb-ops commented on #85
Hi @lspgn, thanks for the answer.
I use GoFlow v3.4.2.

Yes, the memory leak happens when -kafka=false.

[code]

When I started the service:
[code]

After 15 minutes of work:
[code]

[2020-07-21 18:02] lspgn commented on #85
How many flows per second are you processing?

[2020-07-21 18:08] swb-ops commented on #85
We are currently processing about 3000 flows per second.

[2020-07-22 12:15] swb-ops commented on #85
I tried using versions 3.4.2, 3.4.0 and 3.1.0, sent netflow and sflow to the collector, migrated goflow to another VM. Memory leaks occurred in all cases.

[2020-08-12 13:01] swb-ops commented on #85
Hi @lspgn,
Maybe you have any other ideas what could be the reason for the memory leak ?

[2020-08-12 13:06] lspgn commented on #85
Are you only sending sFlow to this port? Could you make a packet capture of the UDP traffic?

[2020-08-12 13:30] swb-ops commented on #85
Yes, we are sending only sFlow to this port. We are currently processing sflow from several devices, it is about 300 flows per second and 32 GB of RAM enough for about 12 hours.
Packet capture - [https://drive.google.com/file/d/147fFoAGjs7bYd9rpRe1EjzAaLKVEpCsQ/view?usp=sharing](url)

[2020-08-17 09:17] lspgn commented on #85
I checked the file @swb-ops: I will try to replay it later this week.
Wireshark alert on Frame 7 (Gryphon protocol) but it is unlikely to be the issue.

[2020-08-17 11:39] swb-ops commented on #85
Hello,
We are getting the sflow from Juniper and Huawei.

[2020-09-10 21:34] lspgn commented on #85
Sorry for the delay, following up again: what's the version of the Juniper you're running? Trying to correlate with another issue.

[2020-09-11 05:13] lspgn commented on #85
Also tried to reproduce by replaying your file in a loop, but I am not seeing an increase of RAM usage :( .
If the issue is still ongoing, would you be able to use custom version of GoFlow with pprof and collect performance data from there?

[2020-09-11 07:49] swb-ops commented on #85
Hi, thanks for the answer.
We use 18.1R3-S6.1 and 18.4R2-S3 versions of the Juniper.
Yes, we are ready to try custom version of GoFlow.

[2020-09-25 15:06] jcdaniel14 commented on #66
Hi, Netstream is very similar to Netflow, we tested a NE40 router and I don't recall having to modify the code to support it.

[2020-10-13 06:08] swb-ops commented on #85
Hello @lspgn,,
We can hope that you will provide us custom version of GoFlow with pprof ?

[2020-10-13 06:39] lspgn commented on #85
Hello,
Yes, I will craft a custom version with pprof but I have not had time yet. My apologies.

Thank you

[2020-10-13 06:41] swb-ops commented on #85
Ok, we will wait.
Thank you.

[2020-10-23 12:37] swb-ops commented on #85
Hello @lspgn
We are using Nginx as a load balancer and it changed src ports. I configured Nginx transparently and now goflow works very well.
Thank you.

[2020-10-23 12:37] #85 closed

[2020-11-05 10:56] Slepwin opened #87 "Support for custom sampling rate"
Please add support for IPFIX/Netflow v9/sFlow custom sampling rate (as argument on goflow). It's needed in some cases when devices not sending Option Data Sets /Flow Sample for some reasons or IPFIX/Netflow v9/sFlow load-balanced across multiple goflow anycast nodes (because general IPFIX data and Option Data Sets sended from different source udp ports - different 5-tuple).

[2020-11-20 20:15] sjwang90 opened #88 "Support output formats other than protobuf over Kafka"
### Background/Use Case
InfluxData's Telegraf project received a request (influxdata/telegraf#8425) to integrated into goFlow for IPFIX/NetFlow support. Currently Telegraf does not support binary (ex: protobuf) formats.

### Feature Request
Request for vFlow to add one of the [following output formats](https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_OUTPUT.md) to ease the inte

[2020-11-20 20:45] lspgn commented on #88
@sjwang90 thanks! I added a comment on the telegraf thread.
GoFlow can be extended but the main format in this repository is Kafka+protobuf (or JSON).
For Influx/Telegraf, you will likely need aggregation.

[2020-11-20 23:12] sjwang90 commented on #88
Ok thanks for your feedback @lspgn. I'll close this issue for now.

[2020-11-20 23:12] #88 closed

[2021-01-08 14:49] mugugnu opened #89 "Netflow v5 -- Unknown"
Hi,
my goflow container (latest 3.4.3)  is receiving flow records with initial flags like this: (i'm inspecting them via nfcapd on a VM)

Flow Record:
  Flags        =              0x00 NETFLOW v5, Unsampled
  label        =            <none>

However goflow returns continously this error:
Error from: NetFlow (0) duration: 12.92µs. Unknown NetFlow version 5 (only decodes v9 and v10/IPFIX)"

Does g

[2021-01-08 14:51] lspgn commented on #89
Hello,
You need to send NetFlow v5 on a different port than v9/ipfix (by default :2056).
Let me know if that works.

[2021-01-08 15:43] mugugnu commented on #89
I was actually sending to 2056, but goflow default setup was and still is:
time="2021-01-08T15:30:10Z" level=info msg="Listening on UDP :6343" Type=sFlow
time="2021-01-08T15:30:10Z" level=info msg="Listening on UDP :2055" Type=NetFlow
time="2021-01-08T15:30:10Z" level=info msg="Listening on UDP :2056" Type=NetFlowLegacy

I'm not sure what i actually did except for deleting the pods (both goflow an

[2021-01-08 15:56] lspgn commented on #89
Correct, it's only logging when Kafka is disabled.

Correct. I use `legacy` term for v5.

Do you still see the error about the version? If so, could you send me a pcap?

[2021-01-08 15:58] mugugnu commented on #89
Without kafka it's working fine, no more errors.

[2021-01-15 04:49] lspgn commented on #89
It is a [protobuf message](https://developers.google.com/protocol-buffers). You need to unmarshall the data.

[2021-01-15 20:34] Slepwin commented on #78
It would be very useful feature for me.

[2021-01-20 09:02] #89 closed

[2021-01-20 09:03] mugugnu commented on #89
everything's fine. Thanks for your support

[2021-01-20 09:06] mugugnu opened #90 "How much data can goflow handle ?"
Hello are there any benchmarks about how much data can a single pod of goflow handle ?
Would it be reasonable to loadbalance data to different goflow pods provided every source network device sends data to a load balancer that will route data to the same goflow pod ? (so not to mix up flows from different sources to different golfow pods)

[2021-01-29 16:25] mugugnu commented on #78
I'd love to see this feature!

[2021-02-02 19:29] Slepwin opened #91 "Option to send Ip addresses fields as String instead of Base64"
Can you add some option to send fields with IP addresses as String instead of Base64.

[2021-02-13 11:03] cobusn opened #92 "Protobuf format question"
Hi Guys.

I have a question about the protobuf format used with goflow.  I am attempting to decode the messages but is getting an error from protubuf.  When I look at the message itself, it appears to have non protobuf data in the value extracted from the protobuf message:

such as:

--snip
b'2021-02-11T09:56:10.870Z %{host} \x08\x03\x10\x
--snip

it appears to be a timestamp with an unresolved te

[2021-02-13 18:40] cobusn commented on #92
Hi Guys

I suspect this problem are added by other software in the pipeline.  Please ignore.

[2021-02-13 18:40] #92 closed

[2021-02-15 17:28] mugugnu opened #93 "Compiling FlowMessagePb proto"
Hello,
i need to compile the flow.proto into a jar to pass it to a protobuf converter that will read it.
I've managed to do it by using protoc, my question is: since the protobuf converter expects the compiled class name, should i provide com.cloudflare.net.flowagg.FlowMessagePb (but i get the error : not a valid proto3 class) or com.cloudflare.net.flowagg.FlowMessagePb$FlowMessage (which seems to

[2021-03-22 11:14] slrtbtfs opened #94 "Cardinality explosion in flow_traffic metrics"
Goflows Prometheus metrics `flow_traffic_(bytes|packets|summary_size_bytes)` include labels for `remote_ip` and `remote_port`.

Some services that send flows (e.g. `pmacctd`) use a new outgoing port each time they send flows to goflow, which results in the creation of several new time series. For a single `pmacctd` client with almost no network traffic, this creates thousands of time series each d

[2021-03-27 07:38] SuperQ commented on #94
Randomizing on every flow seems a bit broken, IMO. But I agree, the remote_port, which should be an ephemeral port, doesn't seem like a good identifier.

[2021-04-01 14:00] romchi opened #97 "Is this project alive ?"
Hi,

it is clear that there is interest in the project and there are pull requests, but it is not visible that these commits were accepted from the upstream side

[2021-04-03 16:24] lspgn commented on #97
Hi @romchi,
Thank you for your interest.
I was maintaining this project at Cloudflare until I left the company in February.
I have been following some of the pull-requests/issues and new use-cases but haven't had time to update yet.
Additionally, I lost some accesses to specific namespace (eg: Dockerhub) so releasing would be more complex.
What I may do: I will likely spawn a new org+repo. This wo

[2021-04-03 16:40] SuperQ commented on #97
Thanks for the update @lspgn. Let me know if there's anything I can do to help out.

[2021-04-15 08:13] #97 closed

[2021-04-23 14:46] mugugnu opened #98 "Sampler Address"
Hello,
i'm investigating a little bit on this attribute, as my concern is that it is getting overwritten when passing through a NAT.
It is not read from the netflow payload but from the packet header, isn't it ? I can't find any reference of this attribute in the netflow protocol format...but it seems weird that it was not included...am i right or am i missing something ?

[2021-04-23 19:23] saymonaraujo commented on #98
Hello,

Should not be overwritten.
The NAT/PAT overwrite the source IP address of the packet in the Layer3.
The flow information its on the packet data as a exemple

![image](https://user-images.githubusercontent.com/25465421/115920045-07cac400-a450-11eb-9468-278e2cf7f24a.png)

In the field: Agent Address will be the IP of the SamplerAddress(At least shold be) if the GoFlow daemon parse the source

[2021-04-28 10:11] mugugnu commented on #98
Hello, the screenshot you provided shows, as far as i understand, traffic from sFlow protocol. I'm actually using netflow v5.
Is it possibile that they are actually different and netflow5 lacks the agent address field, so that goflow has no other options than using the layer3 source ip ?

The code in goflow, for netflow v5, seems to do this, but i might be wrong:

`func (s *StateNetFlow) DecodeFlo

[2021-04-28 20:38] saymonaraujo commented on #98
Sorry for this,
I don't think Netflow has this field. But to be shure you will have to do a tcpdump and analyze the packet.

[2021-05-10 18:55] SuperQ commented on #97
Ping @lspgn, any progress on getting this project moved to a separate org? Anything I can help with?

[2021-05-25 01:04] ekfoury opened #99 "Openvswitch ovs-vsctl connection"
Hello everyone,

I would like to ask if anyone was able to use the openvswitch IPFIX with goflow.
I tried openvswitch/goflow with sFlow and NetFlow, and both work great. With IPFIX, nothing is shown on the collector.

Has anyone experienced the same issue?

Thanks.

[2021-05-25 01:06] lspgn commented on #99
Hello,
Do you have a packet capture?
There might be an issue if it's using Enterprise format (listed in #31).

[2021-05-25 03:11] ekfoury commented on #99
Hello lspgn,

Attached is a pcap sample. I can see the IPFIX flows in wireshark, but nothing is appearing in goflow.

Thanks for your help.

[ipfix.tar.gz](https://github.com/cloudflare/goflow/files/6536190/ipfix.tar.gz)

[2021-05-25 03:12] lspgn commented on #99
Could you give me the CLI arguments you are passing?

[2021-05-25 03:14] ekfoury commented on #99
I am starting goflow like this:
sudo docker run --net=host -ti cloudflare/goflow:latest -kafka=false

And configuring the exporter on ovs like this:
sudo ovs-vsctl -- set Bridge s1 ipfix=@if -- --id=@if create IPFIX targets=\"127.0.0.1:2055\" sampling=64

[2021-05-25 03:18] lspgn commented on #99
After looking at the pcap, I noticed there are custom Enterprise fields in the templates. Unfortunately, this is issue #31 and the templates aren't properly decoded.
If you _can_ change the template that OVS is sending or change to NetFlow v9, it should collect without issues.

I am currently working on a fix and hope to have something in the coming days (after some freeze).

[2021-05-25 03:20] ekfoury commented on #99
Gotcha! thanks for the help. I will just use NetFlow v9 for now. I will keep an eye on issue #31 for the future.
Thanks.

[2021-06-07 00:53] StefanoKoo commented on #89
@mugugnu Did you find a way to decode the messages?

[2021-06-07 02:03] StefanoKoo opened #100 "How to lookup the received netflow packets"
Thanks for your great projects.
I made netflow packets through netflow packet generator to check if my kafka consumer received successfully received data.
However, I can't deserialize the contents that my consumer console shows me.
Can your console show the specific data of the netflow packets?

[2021-06-08 04:30] lspgn commented on #100
Hi @StefanoKoo,
You cannot deserialize in the console without a protobuf decoder. I invite you to have a look at Google's guides ([eg: for Java](https://developers.google.com/protocol-buffers/docs/javatutorial))
[Goflow2](https://github.com/netsampler/goflow2) fork has an option to send JSON into Kafka.

[2021-06-08 07:04] StefanoKoo commented on #100
@lspgn Thanks for another great code.

[2021-06-08 07:04] #100 closed

[2021-06-10 15:14] jsirianni opened #101 "Can this project be used as a library?"
I have a use-case where I need to embed this project into another project, with no need for a Kafka (or other message queue) backend.

Is this project designed with this use-case in mind?

[2021-06-10 15:24] lspgn commented on #101
Hello,
Yes entirely. Although you should look at  https://github.com/netsampler/goflow2/blob/main/cmd/goflow2/main.go which features some changes to make it more flexible (transports/formats... are an import).

[2021-06-10 15:24] #101 closed

[2021-06-10 17:58] slrtbtfs commented on #101
I recently used this project as a library in a program that doesn't use Kafka and instead puts the received flow messages in a custom pipeline, so I can confirm that this is possible and works quite well.

If you have further questions feel free to ask me. (I think my github profile has a public Email)

[2021-06-29 09:44] vishnubraj opened #102 "Renormalise the sampled data"
I am sending the goflow received data to a cloud-based Syslog server for analysis.
I am sending a sampled NetFlow data from the router to gofow, does the goflow output a normalized NetFlow data or I need to apply any calculation to normalize it?

if yes, multiplying the bytes with the sampling rate is enough? What is the formula used for this?

[2021-06-29 14:53] lspgn commented on #102
Hello,
GoFlow does not do anything besides converting the data that is provided in the samples.
You are provided with the sampling rate but you need to apply the normalization in your tools.
Additionally, I believe most of the implementations are taking a per-packet per interface sampling. AFAIK there is no field that identify alternative methods of sampling (eg: sampling per distinct IP).

A simp

[2021-06-29 16:26] vishnubraj commented on #102
Thanks for the clarification @lspgn  !!

[2021-06-29 16:26] #102 closed

[2021-07-14 19:05] jsirianni commented on #91
I also had trouble with this. I think the best option is to just convert the Ip fields yourself.

quick example
[code]

[2021-07-14 19:14] lspgn commented on #91
Just realized I missed this issue.
The base format is protobuf. It is meant to be decoded programmatically. Changing the field from bytes to string would be a breaking change.
I would invite you to check the JSON/text format which converts fields into their proper representation.
Have a look at https://github.com/netsampler/goflow2 which has more control over outputs.

[2021-07-21 11:02] Slepwin opened #103 "gloflow2 doesn't multiply sampling rate with bytes/packets"
goflow2 doesn't automatically multiply sampling rate with bytes and packets before sending data to kafka or file and netflow/ipfix data incorrect.

[2021-07-27 20:17] cbahcevan opened #104 "Nat Event On Output(Question)"
I can't see the definition of IPFIX_FIELD_natEvent in the source code and in the raw output. Is it going to be added as an IPFIX output?

In the link below I can see its reference number.

IPFIX_FIELD_natEvent                              = 230

https://github.com/cloudflare/goflow/blob/ddd88a7faa89bd9a8e75f0ceca17cbb443c14a8f/decoders/netflow/ipfix.go

[2021-07-27 20:32] lspgn commented on #104
Hello,
This is unlikely to be mapped into a protobuf field in the current version.
It is defined in the code: a decoded sample will have the natEvent field and value can be accessed before it's converted to a protobuf but this requires to use the library and not the binary.

Eventually, I am thinking of a solution for GoFlow2 to map *any* field from a custom configuration into the output formats b

[2021-07-27 21:23] cbahcevan commented on #104
Thank you for your fast response; now it's clear to me. Then I will try it using it as a library until Goflow2  release :)

[2021-08-05 09:44] jotak commented on #99
FWIW here's a descriptive XML from ovs: https://github.com/openvswitch/ovs/blob/master/ofproto/ipfix.xml
I'm trying to understand, for this issue with ovs to be fixed (ie. Enterprise format not being supported with goflow and breaking the decoder), am I right to assume that the work could be split in two parts:
1. implement reading the enterprise number as per https://datatracker.ietf.org/doc/html

[2021-08-05 17:51] jotak commented on #99
I could make it work "partially" with ovs, standard fields are now recognized and collected ; there's not only the enterprise number parsing missing, but also variable length fields [1] such as string that are not supported currently in goflow. I can submit a fix after cleaning my work.

[1] cf https://datatracker.ietf.org/doc/html/rfc7011#section-7

[2021-08-18 13:00] freedomwarrior opened #105 "Protobuf messages are corrupted or don't match the provided schema"
[code]

Hello.
I got this error when trying to load some data from kafka to clickhouse.
`ClickHouse server version 21.8.3.44 (official build).`

Schema I use:

[code]
And I use `create.sh` from repo for clickhouse:
[code]

[2021-08-18 17:53] lspgn commented on #105
(FYI please use [goflow2](https://github.com/netsampler/goflow2 as I am sometimes checking issues on this repo but I am not maintaning it here).
Which version of GoFlow are you using? Are you doing any enrichment? Could you try with GoFlow2 as well?

[2021-08-18 23:38] lspgn commented on #105
Are you setting `-proto.fixedlen=true` when you're running GoFlow?

[2021-08-19 07:11] freedomwarrior commented on #105
Yea, it works, thank you!
One more thing, is it better to use goflow2 then goflow?

[2021-08-20 06:44] lspgn commented on #105
I made a few updates to GoFlow2 and I do not have access to push Dockerfiles for GoFlow so I would advise GoFlow2.

[2021-08-20 06:44] #105 closed

[2021-09-05 14:00] jmilleriec opened #107 "Port Mirror Question"
So I've got a port mirror on my switch connected an ubuntu machine that is running the GoFlow docker container, its unclear to me how I might be able to have the packets coming in on that interface sent to the GoFlow connector.  I'd love to be able to use GoFlow to monitor our networks with either a mirror or a tap.

Apologies if this isn't the appropriate place for this question.

I know the port

[2021-09-05 15:48] lspgn commented on #107
Hi Jim,
Unfortunately GoFlow does not capture raw packets. It only captures sFlow and NetFlow/IPFIX protocols, the former contains raw packet headers.
You could eventually have something that pcap and convert to the protobuf but this is out of the scope of GoFlow (additionally, you may not be able to process a high volume of pps if GoFlow is not load-balanced).
My suggestion would be for the switc

[2021-09-06 02:01] jmilleriec commented on #107
Really helpful, thank you so much, i've installed pmacct and I'm working on pushing that into goflow.  I'll check into golfow2, i have been using nprode/ntopng, but was looking for an alternative and something that i could have more direct access to the data.  Thanks again for your help...

[2021-10-25 11:11] sharmarohit0013 opened #110 "vendor-specific field parsing"
while parsing the vendor-specific fields, I am getting type as 33668 instead of 900,
when i print df under producer/producer-nf.go/ConvertNetFlowDataSet/
i am getting
{33668 [196 113 212 10 84 101 115 116]}

also, I could not find any way to provide my vendor-specific data structure to do the parsing.
help me out how to parse vendor-specific fields in goflow
attachment have the packet which I used

[2021-11-01 11:08] ChrisDeh opened #111 "Support for IPFIX dataLinkFrameSection"
When using Junos based routers, there are some bad limitations when using sFlow.

Juniper recommends using Inline Active Flow Monitoring when you want fast detection and overcome netflow aggregation - which is basicaly IPFIX containing the Ethernet Header as dataLinkFrameSection.

Would be great to enhance IPFIX Feature Set for having Support for dataLinkFrameSection.

[2021-11-02 01:05] lspgn commented on #111
Hello, this has previously been requested. I added this feature in GoFlow2.

https://github.com/netsampler/goflow2/blob/d1e1ace3186d8908414f048989cdb5f988b64606/producer/producer_nf.go#L387

[2021-11-29 05:47] sharmarohit0013 commented on #110
thanks

[2022-02-12 16:47] #110 closed

[2022-08-28 12:52] rkosegi opened #113 "SIGSEGV when port is already in use"
When trying to bind legacy netflow listener to address that is already in use, it will lead to SIGSEGV.

Code should instead propagate `error` to caller.
[code]
Following code can be used to replicate problem:

[code]

[2022-08-29 09:17] #113 closed